In [26]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [27]:
df = pd.read_csv('../data/clean_data.csv')
df.head()

            Time Stamp  RT Prices  DA Prices  Load Forecast  Capacity
0  2020-01-01 00:00:00  20.758182      20.72         2012.0    2160.0
1  2020-01-01 01:00:00  19.516667      16.54         1896.0    2155.0
2  2020-01-01 02:00:00  17.534167      15.21         1798.0    2155.0
3  2020-01-01 03:00:00  16.461667      14.44         1737.0    2135.0
4  2020-01-01 04:00:00  19.843333      14.66         1721.0    2125.0

In [29]:
df.describe()

          RT Prices     DA Prices  Load Forecast      Capacity
count  17543.000000  17542.000000   17543.000000  1.754400e+04
mean      41.446026     41.001797    2274.250755  2.366013e+03
std       51.374500     27.800863     648.773234  1.523315e+04
min    -1086.465833      9.080000    1377.000000  0.000000e+00
25%       18.876548     22.750000    1833.000000  2.087812e+03
50%       29.908333     33.030000    2107.000000  2.400000e+03
75%       50.233333     50.957500    2485.000000  2.575000e+03
max     1378.428333    350.000000    5116.000000  2.018975e+06